{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
    <div class="container subcatForm">
        <h1 class="text-center mt-4 mb-4">Edit SubCategory</h1>
        <a href="{{ path('app_sub_category_index') }}" class="btn btn-outline-light mb-2">Back to list</a>
        {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('sub_category/_delete_form.html.twig') }}
    </div>
{% endblock %}
