body {
    background-color: #675974bb;
}

.loginForm{
    width: 400px;
}
.containerForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
.registerForm{
    width: 400px;    
}
.addCategoryForm{
    width: 400px;   
}
.subcatForm{
    width: 400px;  
}
.productForm{
    width: 600px;   
}
.titleProductLink{
    text-decoration: none;
    color: #c1afd1bb;
}