{% extends 'base.html.twig' %}

{% block title %}Cancel{% endblock %}

{% block body %}
    <div class="container"> 
        <h1 class="text-center mt-4 mb-4">Cancel</h1>
        <p class="text-center mt-4 mb-4"> Your order has been canceled :(</p>
    </div>
{% endblock %}
